.imgWrapper {
  width: 100%;
  position: relative;
  & > img {
    width: 100%;
  }
}

.interactiveWrapper {
  & > div {
    transition: opacity 1s ease-in-out;
  }
    & > div:nth-child(2) {
    position: absolute;
    top: 0;
    width: 100%;
  }

  & > div:nth-child(2) {
    opacity: 0;
  }

  &.notActiveDiv {
    & > div:first-child {
      transition: opacity 1s ease-in-out;
      opacity: 0;
    }
    & > div:nth-child(2) {
      opacity: 1;
    }
  }
}

.nextButton {
  border-radius: 1000px;
  border: 4px solid #fffdfb;
  background: #00d1d2;
  font-size: 40px;
  font-weight: 700;
  width: 100%;
  padding: 20px 24px;
  color: #fffdfb;
  margin-top: 16px;
}

.container {
  flex: 1;
}

.importantText {
  padding: 10px 4px;
  font-size: 10px;
  border: 2px solid #fffdfb;
}

.description {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.unimportantText {
  color: #34303d;
  font-size: 8px;
}

.isCheaperBox {
  border-radius: 36px;
  border: 4px solid #fffdfb;
  padding: 24px 0;
  margin-top: 16px;
  & > p:first-child {
    color: #fffdfb;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1.8px;
    margin-bottom: 24px;
  }

  & > p:nth-child(2) {
    color: #fffdfb;
    text-align: center;
    font-size: 24px;
    letter-spacing: 2.16px;
  }
}

.whiteSubText {
  font-size: 12px;
}
