@font-face {
  font-family: 'IQQSFont';
  src: url('./IQOSSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IQQSFont';
  src: url('./IQOSSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
