.container {
  height: 100%;
  padding: 60px;
  background-color: #00d1d2;
  flex: 1;
  display: flex;
  flex-direction: column;

  &__wrong {
    background-color: #34303d;
  }
}

.answersWrapper {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.sliderCaption {
  border-radius: 36px;
  border: 4px solid #fffdfb;
  background: #fffdfb;
  text-align: center;
  padding-bottom: 34px;
  & > div {
    height: 60px;
    background-color: #00d1d2;
    border-radius: 36px 36px 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    padding-left: 24px;
  }
  & > p:first-of-type {
    margin-top: 28px;
    margin-bottom: 16px;

  }
  & > p.captionThinText {
    color: #34303d;
    font-size: 24px;
  }
  & > p.notPickedFirst {
    font-size: 28px;
    color: #00d1d2;
    &__wrong {
      color: rgba(52, 48, 61, 1);
    }
  }
  & > p.notPickedSecond {
    font-size: 36px;
    font-weight: 700;
    color: rgba(52, 48, 61, 1);
    text-transform: uppercase;
  }
  & > p.captionBoldText {
    font-size: 36px;
    font-weight: 700;
    color: #00d1d2;
    text-transform: uppercase;
  }
}

.circlePoint {
  width: 16px;
  height: 16px;
  border-radius: 999px;
  border: 2px solid #fffdfb;
  &__active {
    width: 24px;
    height: 24px;
    background: #fffdfb;
  }
}

.caption__wrong {
  background-color: #34303d !important;
}

.warning {
  display: flex;
  border-radius: 999px;
  margin-top: 36px;
  height: 71px;
  display: flex;
  padding: 0 24px;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  gap: 16px;
  & > div:first-child {
    width: 40px;
    height: 40px;
    line-height: 30px;
  }
  & > p {
    word-wrap: normal;
    font-size: 16px;
    color: rgba(184, 183, 187, 1);
    text-transform: uppercase;
  }
}

.lookRightAnswer {
  margin-top: 32px;
  color: #fffdfb;
  text-align: center;
  font-size: 32px;
  width: 100%;
}

.fadeIn {
  /* animation styles */
  animation: myAnimation 1.5s;
}

/* Keyframes animation */
@keyframes myAnimation {
  0% {
    /* initial state */
    opacity: 0;
  }
  100% {
    /* final state */
    opacity: 1;
  }
}